= render :partial => "unfinished", :object => [current_user.tasks(:state => Task::NOT_STARTED, :limit => 5),
  current_user.tasks(:state => Task::WAITING),
  current_user.tasks(:state => Task::IN_PROGRESS)]
