%h2
  = resource.aspect.name
%p= resource.description
%p
  Due in
  = (resource.due_on - Date.today).to_i
  days on
  = resource.due_on
  - case resource.importance
    - when 1
      Not important
    - when 2
      Important
    - when 3
      Critical!
