- content = bubble
- orientation = cycle("left","right")
.bubble
  .avatar{:class => orientation}
    = image_tag "avatar_#{orientation}.png"
  .content
    %h3.name
      = image_tag "speech_bubble_name.png"
    = content
.clear
  
