%h2 Upcoming Appointments
%ul
  - @appointments.unattended.each do |appt|
    %li
      = link_to appt.description, appointment_path(appt), :remote => true, "data-output-mode" => "extend"
      (#{appt.occurs_at})
%h2 Recently Attended
%ul
  - @appointments.attended.limit(3).each do |appt|
    %li
      = link_to appt.description, appointment_path(appt), :remote => true, "data-output-mode" => "extend"
      (#{appt.occurs_at})

